.chatName {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-color: white;
}
.chatName-animated {
    animation: gradient-flow 4s linear infinite;
    background-size: 200%;
}
@keyframes gradient-flow {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}
.chatName-glow {
    text-shadow: 0 0 5px rgba(255,255,255, 0.25);
}
.chatName-rainbow {
    background-image: linear-gradient(to right in oklch longer hue, red, oklch(50% 0.25 359) 99.9%);
}
.chatName-limeCyan {
    background-image: linear-gradient(to right in oklch, #39ff14, #00d7ff);
}
.chatName-red {
    background-color: red;
}